.mapaSitio{
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1{
    text-align: center;
}

.contenedorMapa{
    padding: 1.5rem 2rem;
}

.contImg{
    width: 150px;
    height: 150px;
    margin:auto;
}

img{
    height: 100%;
    width: 100%;
}

.liHijo{
    padding: 0 0 0 40px;
}

.cuerpo{
    min-height: 90vh;
}

.listaMapa ul a,.listaMapa li a{
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;  
    
}

.listaMapa ul{
    list-style: none;
}



.listaMapa li:hover{
    transform: scale(1.1);
}
