body{
    font-family: Arial;
}

#contenedorPrincipal{
    margin: 3.5rem auto;
    width: 100%;
}

.contenedorPanel{
    margin: 1rem 1rem;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: white;   
    -webkit-box-shadow: 2px 30px 50px 7px rgba(105,162,240,255);
    -moz-box-shadow: 2px 30px 50px 7px rgba(105,162,240,255);
    box-shadow: 2px 30px 50px 7px rgba(105,162,240,255);
}

th,td{
    padding: 20px;
    text-align: center;
}

thead{
    background-color: #4a79b6;
    color: white;
    border-bottom: solid 5px #243bb7;
}

tbody tr:nth-of-type(even) {
    background-color: #e0e4ff;
}

img{
    width: 100px;
    height: 100px;
    background-color: Transparent;
}

button{
    border: none;
    background-color: Transparent;
}

th a, td a{
    color: black;
    text-decoration: none;
}

.botonIconoEditar, .botonIconoBorrar, .botonIconoCrear, .botonIconoAdmin{
    transition-duration: 0.3s;
}

.botonIconoEditar:hover, .botonIconoBorrar:hover, .botonIconoCrear:hover, .botonIconoAdmin:hover{
    transform: scale(1.1);
}

.botonIconoEditar:hover a, .botonIconoBorrar:hover a, .botonIconoCrear:hover a, .botonIconoAdmin:hover a{
    color: rgb(73, 202, 245);
}

.cuerpo{
    min-height: 90vh;
}