/*Los estilos no comentados es porque han sido comentados en otro css o son muy simples*/

/*Tamaño del contenedor mapaSition con una separación entre contenidos, mostraremos sus contenidos con flex wrap y lo centraremos*/
.mapaSitio{
    grid-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    text-align: center;
}

.contenedorMapa{
    padding: 1.5rem 2rem;
}

/*Tamaño de la imagen y margen automático*/
.contImg{
    width: 150px;
    height: 150px;
    margin:auto;
}

/*La imagen ocupará todo el contenedor*/
img{
    height: 100%;
    width: 100%;
}

.liHijo{
    padding: 0 0 0 40px;
}

.cuerpo{
    min-height: 90vh;
}

/*Color de los elementos a dentro de ul y li, y la duración de su transformación*/
.listaMapa ul a,.listaMapa li a{
    text-decoration: none;
    color: rgb(113, 126, 241);
    transition-duration: 0.3s;  
    
}

.listaMapa ul{
    list-style: none;
}

/*Se hará mas grande el texto al pasar el tatón por encima*/
.listaMapa li:hover{
    transform: scale(1.02);
}

/*Media Querys que según el tamaño se irán cambiando clases e ids para que sea responsive*/
@media only screen and (min-width: 720px) {
    .listaMapa{
        display: flex;
        justify-content: center;
    }

    .mapaSitio{
        grid-gap: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

