*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
  
body::-webkit-scrollbar {
    width: 0.15rem;
}
  
body::-webkit-scrollbar-track {
    background: #ffffff;
}
  
body::-webkit-scrollbar-thumb {
    background: rgb(133 146 241);
}
  
.index {
    width: 100%;
    display: grid;
    grid-template-rows: 10vh 2vh auto;
    min-height: 100vh;
}


