@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

.header{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    z-index: 10;
    top:0;
}

.campoBusqueda {
    display:flex;
    height: 50%;
    width: 100%;
}
  
.campoBusqueda>input[type=text],
.campoBusqueda>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
}
  
.campoBusqueda>input[type=text] {
  flex:1;
  padding:0.2em;
  border:0.2em solid rgb(36, 58, 182);
}
  
.campoBusqueda>button {
  padding:0.6em 0.8em;
  background-color:rgb(36, 58, 182);
  color:white;
  border:none;
}

  
.campoBusqueda>button:hover {
  background-color:#002b68;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(21 47 226);
  padding: 0 10px;
  height: 100%;
}

.logo{
  height: 100%;
  width: 100%;
}

.contenedor-imagen {
  width: 180px;
  height: 70%;
}

.lista{
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

.label{
  display: flex;
  width: 30px;
  height: 30px;
}

.elemento{
  width: 63px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elemento > img{
  height: 100%;
  width: 100%;
} 

.header-usuario a, .header-usuario > li{
  text-decoration: none;
  list-style: none;
}

.header-usuario{
  display: none;
  background: white;
  width: 100vw;
  position: absolute;
  top: 10vh;
  padding: 1rem;
  left: 0;
  grid-gap: 20px;
}

#user{
  display: none;
}

.campoBusqueda{
  display: none;
}

.numeroCarrito{
  height: 20px;
  padding: 1%;
  background-color: rgb(36, 58, 182);
  border:solid 1px black; 
  border-radius:10px; 
  color:white;
  text-align:center; 
  font-size:17px
}

.hrefnumeroCarrito{
  text-decoration: none;  
}

@media only screen and (max-width: 768px) {
  #user:checked ~ .header-usuario{
    display: grid ;
  }
}

@media only screen and (min-width: 769px) {
  .campoBusqueda{
    display: flex;
  }
  
  .formHeader{
    display: flex;
    width: 60%;
  }

  .contenedor-imagen{
    margin-right: 1%;
  }

  .user:hover .header-usuario,.header-usuario:hover{
    display: grid;
  }

  .header-usuario{
    width: 200px;
    right: 0;
    left: auto;
    z-index: 1;
    top: 10vh;
  }
  
  
}
