.likes label{
    cursor: pointer;
    font-size: 1.5rem;
}

.likes input{
    display: none;
}

.valoracion label{
    font-size: 1.5rem;
}
.valoracion .verde{
    color: green;
}

.valoracion .rojo{
    color: red;
}