/*Importación de una fuente de texto*/
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

/*Estilos para la clase header*/
.header{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    z-index: 102;
    top:0;
}

/*Disposición en flex y altura y anchura*/
.campoBusqueda {
    display:flex;
    height: 50%;
    width: 100%;
}
  
/*El texto y el botón se dispondrá en bock y la fuente será Montserrat*/
.campoBusqueda>input[type=text],
.campoBusqueda>button {
    display:block;
    font:1.2em 'Montserrat Alternates';
}
  
/*Dentro del input tendremos un padding y un borde*/
.campoBusqueda>input[type=text] {
  flex:1;
  padding:0.2em;
  border:0.2em solid rgb(36, 58, 182);
}
  
/*El campo de busqueda tendrá un botton con un padding un color un fondo y sin borde*/
.campoBusqueda>button {
  padding:0.6em 0.8em;
  background-color:rgb(36, 58, 182);
  color:white;
  border:none;
}

/*Cambiaremos su fondo de color cuando pasemos por encima de .campoBusqueda con el ratón*/  
.campoBusqueda>button:hover {
  background-color:#002b68;
}

/*Clases para header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(21 47 226);
  padding: 0 10px;
  height: 100%;
}

/*Altura y anchura del logo*/
.logo{
  height: 100%;
  width: 100%;
}

/*Tamaño de la imagen*/
.contenedor-imagen {
  width: 180px;
  height: 70%;
}

/*Disposición de la lista y altura*/
.lista{
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

/*La clase label tendrá disposición flex y una anchura y altura*/
.label{
  display: flex;
  width: 30px;
  height: 30px;
}

/*.elemento tendrá una altura una anchura y una disposición centrada con su contenido centrado*/
.elemento{
  width: 63px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Las imagenes dentro de elemento tendrá una anchura y altura completa*/
.elemento > img{
  height: 100%;
  width: 100%;
} 

/*Los elementos dentro de la clase header usuario no tendrán ningún estilo*/
.header-usuario a, .header-usuario > li{
  text-decoration: none;
  list-style: none;
}

/*Estilos para header usuario*/
.header-usuario{
  display: none;
  background: white;
  width: 100vw;
  position: absolute;
  top: 10vh;
  padding: 1rem;
  left: 0;
  grid-gap: 20px;
}

/*No mostrarémos la id user*/
#user{
  display: none;
}

/*No mostraremos la clase campoBusqueda*/
.campoBusqueda{
  display: none;
}

/*Estilos para el número que sale al lado del carrito*/
.numeroCarrito{
  height: 20px;
  padding: 1%;
  background-color: rgb(36, 58, 182);
  border:solid 1px black; 
  border-radius:10px; 
  color:white;
  text-align:center; 
  font-size:17px
}

/*Estilos para el href del enlace que tiene el número*/
.hrefnumeroCarrito{
  text-decoration: none;  
}

/*Media Querys que según el tamaño se irán cambiando clases e ids para que sea responsive*/
@media only screen and (max-width: 768px) {
  #user:checked ~ .header-usuario{
    display: grid ;
  }
}

@media only screen and (min-width: 769px) {
  .campoBusqueda{
    display: flex;
  }
  
  .formHeader{
    display: flex;
    width: 60%;
  }

  .contenedor-imagen{
    margin-right: 1%;
  }

  .user:hover .header-usuario,.header-usuario:hover{
    display: grid;
  }

  .header-usuario{
    width: 200px;
    right: 0;
    left: auto;
    z-index: 1;
    top: 10vh;
  }
  
  
}
